.cult-container{
  height: auto;
  background: purple;
}

.follower-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #fff;
  border: 1px solid #000;
  height: 250px;
  width: 250px;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
}

.follower-card img{
  border: 1px solid black;
  height: 125px;
  width: 100px;
}

.follower-card h2{
  background: chartreuse;

}

.collection-container{
  background: powderblue;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.cult {
  background-image: "./Blood-Oath-soft.png"
}

