.cult-container{
  display: flex;
  height: 300px;
  background: rgb(255, 123, 197);
  border: 10px dotted rebeccapurple;
}

.logo {
  max-height: 300px;
}

.collection-container{
  background: rgb(176, 238, 247);
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.follower-card{
  background: rgb(119, 135, 229);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px #fff;
  border: 2px solid #000;
  height: 250px;
  width: 250px;
  text-align: center;
  margin-top: 15px;
  padding: 5px;
}

.follower-card img{
  border: 1px solid black;
  height: 125px;
  width: 100px;
}

.follower-card h3{
  color: #fff;
  margin: 0;
  padding: 0;
}