.cult-container{
  height: auto;
  background: purple;
}

.follower-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px #fff;
  border: 2px solid #000;
  height: 250px;
  width: 250px;
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  background: rgb(206, 233, 236);
}

.follower-card img{
  border: 1px solid black;
  height: 125px;
  width: 100px;
}

.follower-card h2{
  background: chartreuse;

}

.collection-container{
  background: rgb(176, 238, 247);
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

